.reset-page {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #156178, #0f98c2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.reset-password-container {
  width: 400px;
  max-width: 90%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.reset-header {
  background-color: #00468c;
  text-align: center;
  padding: 1.5rem 0;
}

.reset-header h2 {
  color: #fff;
  margin: 0;
}

.reset-form {
  padding: 1.5rem;
}

.reset-group {
  margin-bottom: 1.2rem;
}

.reset-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.reset-group input {
  width: 94%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.reset-group input:focus {
  border-color: #0f98c2;
}

.reset-button {
  text-align: center;
}

.submit-reset {
  width: 100%;
  padding: 0.8rem;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-reset:hover {
  background-color: #45a049;
}

.re-error-message,
.success-message {
  text-align: center;
  font-weight: 500;
  margin: 1rem 0;
}

.re-error-message {
  color: #d9534f;
}

.success-message {
  color: #28a745;
}
